
<style>
  .link {
    color: mediumpurple
  }

  .block {
    width: 50%;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 15px;
    border-bottom: 10px solid rgb(209, 209, 209);
  }

  .button {
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    width: 150px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
  }

  .button:hover {
    transition: 1s;
    background-color: mediumpurple;
  }

  .button:hover a {
    color: white;
  }
</style>



<h4>Перестают танцевать не потому что стареют, стареют потому что перестают танцевать.</h4>
<h5>(Джесси Ньюберн)</h5>


<br>
<br>
<h4> Список постов по теме "{{nameTheme}}":</h4>
<br>
  {{#if Inlogin}}
<div class="button"><a href="/dance/ajax-create-post?ID={{idTheme}}"> Добавить пост </a></div>
  {{/if}}
 {{#each list}}
    <div class="block" style="display: flex; align-items: center"><br>
        <p>Написал: {{postAuthor.username}}<br>
          <a href='/dance/post?ID={{this._id}}' class="link">{{this.postText}}</a><br>
        Создан: {{postDate}}
        </p>
    </div>
{{/each}}


